<!DOCTYPE html>
<html>
    <body>
        <form action="/checkout" method="POST">
            <label for="item">Name of item:</label>
            <input type="text" id="item" name="item">
            <input id="submit" type="submit" value="submit">
        </form>
    </body>
</html>

